* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;

  html,
  body {
    overflow-x: hidden;
    font-family: "Inter", sans-serif;
    font-size: 14px;
    font-weight: 400;

    -webkit-font-smoothing: antialiased;
  }
}
